<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <button><div class="navicon"></div></button>
        <ul class="visible-links">
          <li class="masthead__menu-item masthead__menu-item--lg masthead__menu-home-item"><a href="#top">{% if page.lang == 'zh' %}主页{% else %}Homepage{% endif %}</a></li>
          {% if page.lang == 'zh' %}
            {% for link in site.data.navigation-zh.main %}
              <li class="masthead__menu-item"><a href="{{ domain }}{{ link.url }}">{{ link.title }}</a></li>
            {% endfor %}
            <li class="masthead__menu-item"><a href="/">English</a></li>
          {% else %}
            {% for link in site.data.navigation.main %}
              <li class="masthead__menu-item"><a href="{{ domain }}{{ link.url }}">{{ link.title }}</a></li>
            {% endfor %}
            <li class="masthead__menu-item"><a href="/zh/">中文</a></li>
          {% endif %}
        </ul>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>